@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Kanit&family=PT+Sans:wght@700&family=Roboto:wght@500&family=Secular+One&family=Ubuntu:wght@500&display=swap');
#about-section{
    width: 80%;
    margin: 30px auto;
    display: none;
}
.about-company{
    color: white;
    margin-bottom: 25px;
}
.about-description{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.about-heading{
    font-family: 'Geologica', sans-serif;
    padding: 7px;
}